body {
    background-color: #f2f2f2;
  }
  .hero {
    background-color: #e6f5ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-content {
    text-align: center;
    color: #000;
  }
  .hero-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .hero-button {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    background-color: #17a2b8;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .hero-button:hover {
    background-color: #138496;
  }
  .fish-card {
    transition: transform 0.3s;
  }
  .fish-card:hover {
    transform: scale(1.05);
  }
  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }

  /* .hero-image-container {
    position: relative;
  }
  
  .hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */
   .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-left {
    float: left;
    width: 33.33%;
}

.footer-right {
    /* text-align: right; */
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-social {
    background-color: darkred;
    text-align: left;
    padding: 10px 0;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    /* margin-right: 10px; */
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
    /* Align to the end */
}

.social_icons {
    margin-right: 120px;
}
